.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6e7781;
  font-style: italic;
}

.token.punctuation {
  color: #57606a;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #0550ae;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #0a3069;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #24292f;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #cf222e;
}

.token.function,
.token.class-name {
  color: #8250df;
}
